<div class="container">
    <div class="page-header">
        <h1>Page Load Time
            <small id='page_load'>
              <img src="http://customize.org/images/lightbox/loading.gif?1391292812" />
            </small>
        </h1>
    </div>
    <h2> This is our sample home page </h2>
    <div class="row">
        <% @images.each do |image_path| %>
        <div class="col-md-4">
            <a href="#" class="thumbnail">
                <img class="lazy" src="http://blog.teamtreehouse.com/wp-content/uploads/2015/05/InternetSlowdown_Day.gif" alt="Load Test" style="height:300px" data-original=<%= image_path %>>
            </a>
        </div>
        <%end%>
    </div>
</div>

<script type="text/javascript">
  $("img.lazy").lazyload();
</script>
