<!DOCTYPE html>
<html>
    <head>
        <title>TestPagePerformance</title>
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
        <%= csrf_meta_tags %>
        <script type="text/javascript">
            var timerStart = Date.now();
        </script>

        <script type="text/javascript">
            $(document).ready(function () {
                console.log("Time until DOMready: ", Date.now() - timerStart);
                loadTime = (Date.now() - timerStart) / 1000;
                $('#page_load').html(loadTime + ' s');
            });
            $(window).load(function () {
                console.log("Time until everything loaded: ", Date.now() - timerStart);
                //loadTime = (Date.now() - timerStart) / 1000;
                //$('#page_load').html(loadTime + ' s');
            });

        </script>
    </head>
    <body>

        <%= yield %>

    </body>
</html>